
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smoooooth;
}

html {
  scroll-behavior: smooooth;
}

p {
  font-size: 14px;
}

/*header section*/
.section-title{
  padding-top:50px;
  padding-bottom: 25px;
}

.section-title h2 {
  position: relative;
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;

}

.section-title h2:after{
  content: "";
  position:absolute;
 bottom: -20px;
 left:50%;
 width:50px;
 width:60px;
 height: 1px;
 background-color: #129cf3;
 margin-left:-30px;
}
.section-title p {
  color: #333;
  font-size:18px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  margin-top:45px;

}

/*======Navigation=======*/

 .navbar-default {
 background-color: transparent !important;
 border-color: #444 !important;
 z-index:110;
/* position: fixed; */

 }
.navbar-default .navbar-nav > li > a {
color: #858585 !important;
font-family: "Raleway", sans-seif;
font-size: 17px;
font-weight:800;
}

.navbar-default .navbar-nav > li >a:hover {
 color: #129cf3 !important;
/* background-color: red !important; */

}

.navbar-default .navbar-nav > li >a:focus {
color: #858585 !important;
}

.navbar-brand {
  padding: 9px 15px;
}

.navbar-default .navbar-nav> .active>a,
.navbar-default .navbar-nav> .active>a:hover,
.navbar-default .navbar-nav> .active>a:focus {
  background-color:transparent;
  color: #129cf3 !important; }

.navbar-toggler {
  background-color:#129cf3;
}



/*header*/

.header {
  background-image: url("../images/header-bg.jpg");

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.header-overlay {
  background-color: rgba(31, 31, 31, 0.75);
}

.logo {
  padding-bottom: 50px;
  padding-top: 25px;
}

.header-text h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
  padding-top: 30px;
  text-transform: uppercase;
}

.header-text p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
}

.header-btns {
  margin-top: 90px;
  margin-bottom: 50px;
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited {
  color:#a9abd0;
  background: transparent;
  border-color: #129cf3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all ls;
  -webkit-transition: all ls;
  -moz-transition: all ls;
  -o-transition: all ls;

}
.btn-download:hover {
  background-color: #129cf3;
  color: #fff;
}

.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited {
  color: #a9adb0;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500;
  background: transparent;
  transition: all ls;
  -webkit-transition: all ls;
  -moz-transition: all ls;
  -o-transition: all ls;
}

.btn-tour:hover {

    color: #fff;
}
.btn-tour {
  font-size:20px;
  padding-left: 5px;
  color: #129cf3;
}

.header-iphone img {
  max-width: 100%;
}

/*about section*/

.choose-us-wrapper {
 padding-top: 20px
  }
.about-iphone img {
  margin-top: 8px;
}

.choose-us-title {
  padding-bottom:50px;
}

.choose-us-title h2{
  text-transform: uppercase;
  font-weight:800;
  font-size:30px;
  line-height:37px;
  position:relative;
}
.choose-us-title h2:after{
  content:"";
  position: absolute;
  bottom:-12px;
  left: 0;
  width: 70px;
  height: 1px;
  background-color:#129cf3
}

.choose-us-title p{
  margin-top:40px;
  font-size:19px;
  line-height: 24px;

}

.choose-us-item {
  position: relative;
  padding-bottom: 4px;
  padding-left: 80px;

}

.choose-us-item div i{
  font-size:55px;
  color: #129cf3;

}
.choose-us-item h3{
  color: #343434;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  padding-top: 10px;
}

.choose-us-item p{
  color:#727272;
  font-size: 15px;
}
/*=====testimnials css=====*/

.testimonial{

  background-image: url("../images/testimonial-bg.jpg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.testimonial-overlay{
  background-color:rgba(31, 31, 31, .75);
  padding-top: 80px;
  padding-bottom: 80px;
}
.carousel-indicators {
  bottom: -25px;
}

.carousel-inner .carousel-item img {
  border: 2px solid #129cf3;
  border-radius: 50%;
  padding: 3px;
}

.carousel-indicators li {
  width: 50px;
  height: 15px;
}
.testimonial-caption {
  padding-bottom:10px;
}

.testimonial-caption h2{
  color: #129cf3;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  margin-top:25px;
}

.testimonial-caption h4{
  color:#129cf3;
}
.testimonial-caption h4 span{
 color: #d8d8d8;
 font-style: italic;
 font-weight: 300;
}

.testimonial-caption p{
  color: #d8d8d8;
  font-size: 18px;
  line-height: 27px;
  padding-top:10px;
}
/*=====Features css=====*/

.features-inner-wrapper{
  padding-top:30px;
  padding-bottom: 50px;
}

.left-feature-item{
  position:relative;
 padding-right: 90px;
 padding-bottom:65px;
 text-align: right;
 margin-top:35px;
}
.left-feature-item-icon{
  position: absolute;;
  right: 0;
  top: -8px;
  font-size: 40px;
 color: #129cf3;
 width: 90px;
 height: 90px;
 text-align: center;
}
.left-feature-item h3{
  text-transform: uppercase;
  font-size: 25px;
  font-weight:700;
  margin-bottom: 21px;
  color:#333;
}
.left-feature-item p{
 color: #333;
 font-size: 16px;
 font-weight: 300;
 line-height: 28px;
}

.feature-iphone img {
width:100%;
}

.right-feature-item{
  position:relative;
  padding-left:90px;
  padding-bottom:65px;
  margin-top:35px;
  text-align: left;
}

.right-feature-item-icon {
  position: absolute;
  left: 0;
  top: -8px;
  font-size: 40px;
  color: #129cf3;
  width:90px;
  height:90px;
  text-align: center;
}

.right-feature-item h3{
  text-transform:uppercase;
  font-size:25px;
  font-weight: 700;
  margin-bottom:21px;
  color: #333;
}

.right-feature-item p{
color: #333;
font-size: 16px;
font-weight: 300;
line-height:25px;
}

/*=====purchase now=======*/

.purchase-now {
  background-color: #333333;
  padding-top: 100px;
  padding-bottom:180px;

}
.purchase-now p{
  color:#dfdfdf;
  font-size:18px;
  font-weight:300;
}
.btn-purchase-now,
.btn-purchase-now:active,
.btn-purchase-focus,
.btn-purchase-visited
{
background-color: #129cf3;
border: 1px solid #129cf3;
color: #fff;
border-radius: 3px;
padding:15px 35px;
text-transform: uppercase;
}

btn-purchase-now:hoover {
  background-color: #1274b1;
  border-color:#316b90;
}
/*===== screens ======= no CSS*/

/* @import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #333 url("https://codepen.io/images/classy_fabric.png"); } */

 .slides {
    padding: 0;
    width: 420px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

 .slides {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0.5;
    width: 600px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 75%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow:blue;
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #129cf3;
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

/* input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}  */

/* /countercss// */
.counter{
  background-image:url("../images/counter-bg.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: cover;
  background-position: 50% 50%;

}

.counter-overlay {
  padding-top: 120px;
  padding-bottom: 120px;
  background:rgba(0,0,0,.4);
}
.counter-item i{
  color: #129cf3;
  font-size: 60px;

}

.counter-item h2{
  font-family: "source Sans Pro", sans-serif;
  color: #d7dadb;
  font-weight: 700;
  text-transform: uppercase;
  font-size:35px;
  margin-top: 15px;
  margin-bottom: 1px;
}
.counter-item p{
  color:#d7dadb;
  font-size:20px;
  margin-top: 0px;
  font-weight:300;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-seif;
}
/*=====Download ==/ Available now=====*/

.download-now img{
  width: 100%;
  padding-bottom: 15px;
}

.available-on {
background-color: #333;
 margin-top: -8px;
 position: relative;

}

.available-title {
  padding-top:75px;
}

.available-title h2{

  color: #fff;
  font-size:30px;
}

.available-title p{
  color:#b5b5b5;
}

.no-padding{
  padding-left:50px;
  padding-right:60px;
}

.available-on-item{
  text-align:center;
  border-left:1px solid #0f1217;
  min-height: 230px;
  padding-bottom:15px;
  position: relative;
}

/* .available-on-item:hover {
  background-color: white; */

.available-on-item i {
  color:#129cf3;
  text-align:center;
  font-size: 40px;
  padding-top:90px;
}

.available-on-item:hover i {
  opacity:0;
}

.available-on-inner{
  position: absolute;
  bottom: 93px;
  width: 100%;
  opacity: 0;
}
.available-on-inner h2{
text-align:center;
font-weight: 300;
color:#f2f5f7;
font-size: 20px;
}

.available-on-item:hover div.available-on-inner{
  opacity: 1;

}
/*----- contact us----------- */
.contact-us-form .form-control{
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 21px;
  color: #555;
  background-color: transparent;
  border:1px solid #aeaeae;
  border-radius: 10px;
  margin-bottom: 15px;
  opacity: 0.8;
  outline: 0px !important;

}

#message{
  height: 120px;
  resize: none;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
  background-color: transparent;
  border: 1px solid #129cf3;
  border-radius: 4px;
  width:50%;
  height:50px;
  text-transform: uppercase;
  color: #129cf3;
  outline: 8px !important;

}

 .submit-btn:hover{
  background: #129cf3;
  color: #fff;
  border-color: #129cf3;
}
.social-icons {
  padding-top:40px;
  padding-bottom:50px;
}

.social-icons ul{
  margin:0;
  padding:0;
  text-align:center;
}

.social-icons ul li{
  list-style: none;
  display:inline;
  padding-left:10px;
}

.social-icons ul li a {
  text-decoration: none;
  display: inline-block;
  text-align:center;
  border: 1px solid #9d9d9d;
  border-radius:3px;
  width:45px;
  height: 45px;
  line-height: 49px;
  color: #9d9d9d;

}
.social-icons ul li a:hover {
 background-color: #129cf3;
 border: 1px solid #129cf3;
 color:white;
}
.social-icons ul li a i {
  font-size: 25px;
}

/*-----footer----------*/

.footer {
  background-color: black;
  padding-bottom: 35px;
 padding-top: 35px;
 border-bottom: 3px solid #129cf3;

}

#copyright{
    width: 50%;
}

#copyright p {
  color: #8C8b8a;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

#copyright p a {
  text-decoration: none;
  color: #129cf3;
}
.scroll-top {
  text-align: right;
}
.scroll-top a {
  background-color: #129cf3;
  padding:25px;
}
.scroll-top a i {
  color: #ffff;
  font-size:25px;
}
